{% extends "base.html" %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Projects</p>
                                            {{amount_projects}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Last synced at: {{last_synced_at}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-clipboard"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Tasks</p>
                                            {{amount_tasks}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i> {{amount_checked_tasks}} tasks are complete
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-pulse"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Overdue Tasks</p>
                                            {{amount_overdue_tasks}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i> In projects: {% for project in overdue_projects %}
                                      <a href="{% url 'projektai:ProjectDashboard' pk=project.Project_ID %}">
                                        <b>{{project.Project_name}}({{project.overdue}}) </b>
                                      </a>
                                          {% if not forloop.last %}
                                          ,
                                          {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-time"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p> Tasks due today</p>
                                            {{amount_today_tasks}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i> In projects : {% for project in today_projects %}
                                        <a href="{% url 'projektai:ProjectDashboard' pk=project.Project_ID %}">
                                          <b>{{project.Project_name}}({{project.tasks_count}}) </b>
                                        </a>
                                          {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Overview of your projects</h4>
                            </div>
                            <div class="content">
                              <table id="customers">
                                <thead>

                                <tr>
                                  <th>Project name</th>
                                  <th>Overdue tasks</th>
                                  <th>Tasks for today</th>
                                  <th>Tasks for this week</th>
                                  <th>tasks for this month</th>
                                  <th>tasks overall</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in data_json%}
                                {% if item.project_type is 1 %}
                                  <tr>
                                    <td><a href="{% url 'projektai:ProjectDashboard' pk=item.Project_ID %}">{{item.Project_name}}</a> </td>
                                    <td>{{item.overdue}}</td>
                                    <td>{{item.tasks_today}}</td>
                                    <td>{{item.tasks_this_week}}</td>
                                    <td>{{item.tasks_this_month}}</td>
                                    <td>{{item.tasks_overall}}</td>
                                  </tr>
                                  {% for task in tasks %}
                                  {% if item.own_tasks is not 0 %}
                                  {% if item.Project_ID == task.task_project_id.Project_ID %}
                                  {% endif %}
                                  {% endif %}

                                  {% endfor %}
                                  {% endif %}
                                {% endfor %}
                                </tbody>
                              </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"></h4>
                            </div>
                            <div class="content">
                              <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
                              <script>
                                    var trace1 = {
                                  x: {{ labels|safe }},
                                  y: {{ valuesComp }},
                                  name: 'Completed Tasks',
                                  type: 'bar',
                                  marker: {
                                    color: 'rgb(60,179,113)'
                                  }
                                };

                                var trace2 = {
                                  x: {{ labels|safe }},
                                  y: {{ valuesUcomp }},
                                  name: 'Uncompleted Tasks',
                                  type: 'bar',
                                  marker: {
                                    color: 'rgb(255,127,80)'
                                  }
                                };

                                var data = [trace2, trace1];

                                var layout = {barmode: 'stack', title: 'Completed and Uncompleted Tasks in Each Sync'};

                                Plotly.newPlot('myDiv', data, layout);
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Select a graph</h4>
                            </div>
                            <div class="content">
                              <div id="myDivas"></div>
                              <script>

                                      var trace1 = {
                                    x: {{ labelsdiff|safe }},
                                    y: {{ addedTasks }},
                                    name: 'Added Tasks',
                                    type: 'bar'
                                  };

                                  var trace2 = {
                                    x: {{ labelsdiff|safe }},
                                    y: {{ deletedTasks }},
                                    name: 'Deleted Tasks',
                                    type: 'bar'
                                  };

                                   var trace3 = {
                                    x: {{ labelsdiff|safe }},
                                    y: {{ completedTasks }},
                                    name: 'Completed Tasks',
                                    type: 'bar'
                                  };

                                  var data = [trace1, trace2, trace3];

                                  var layout = {barmode: 'stack', title: 'Differences between Syncs'};

                                  Plotly.newPlot('myDivas', data, layout);

                              </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">select another graph</h4>
                            </div>
                            <div class="content">

                                <div class="footer">
																	<p>todo</p>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
