{% extends "base.html"%}
{% block content %}
{% load static %}

<script>
var accordions = document.getElementsByClassName("accordion");

for (var i = 0; i < accordions.length; i++) {
  accordions[i].onclick = function() {
    this.classList.toggle('is-open');

    var content = this.nextElementSibling;
    if (content.style.maxHeight) {
      // accordion is currently open, so close it
      content.style.maxHeight = null;
    } else {
      // accordion is currently closed, so open it
      content.style.maxHeight = content.scrollHeight + "px";
    }
  }
}




</script>
    <!-- <canvas id="myPieChart" width="400" height="400"></canvas> -->
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div> -->
<script>

  var data = [{
    values: {{values}},
    labels: {{labels|safe}},
    type: 'pie'
  }];
  Plotly.newPlot('myDiv', data);
</script>
<!-- <script>
var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx,{
    type:'pie',
    data: {{stuff|safe}},
    options: [],
  })
</script> -->

<div class="container">
  <h1>Accordions</h1>
  {% for project in post_list %}
    {% if project.Indent is 1 %}
    <button class="accordion">{{ project.Project_name }}</button>
    <div class="accordion-content">
      <p>
        {% for project2 in post_list %}
          {%if project2.Indent == 2%}
            {% if project2.Parent_id.Project_ID == project.Project_ID %}
            <button class="accordion">{{ project2.Project_name }}</button>
            <div class="accordion-content">
              <p>
                {% for project3 in post_list %}
                  {%if project3.Indent == 3%}
                    {% if project3.Parent_id.Project_ID == project.Project_ID %}
                  <button class="accordion">{{ project3.Project_name }}</button>
                  {{project3.Project_name}} is a subproject of {{project.Project_name}}
                  {%elif project3.Parent_id.Project_ID == project2.Project_ID%}
                    <label for = "project3{{ forloop.counter}}">
                      {{project3.Project_name}} is a subproject of {{project2.Project_name}}
                      </label><br>

                {% endif %}
                {%endif%}
                {%endfor%}
              </p>
            </div>
        {% endif %}
        {%endif%}
        {%endfor%}
      </p>
    </div>
    {% endif %}
    {% endfor %}

<div class="container-fluid">
    <table>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Indent</th>
      </tr>
      {% for project in post_list %}
        {% if project.Indent is 1 %}
          <tr>
            <td>{{project.Project_name}}</td>
            <td>{{project.Color}}</td>
            <td>{{project.Indent}}</td>
          </tr>

          {% for task in tasks %}
            {% if task.task_project_id.Project_ID == project.Project_ID %}
            <tr>
              <td></td>
              <td>Task named : {{task.task_Content}} belongs to {{project.Project_name}}</td>
            </tr>
            {%endif%}
            {%endfor%}
            {% for project2 in post_list %}
              {%if project2.Indent == 2%}
                {% if project2.Parent_id.Project_ID == project.Project_ID %}
                  <tr>
                    <td>{{project2.Project_name}} is a subproject of {{project.Project_name}}</td>
                    <td>{{project2.Color}}</td>
                    <td>{{project2.Indent}}</td>
                  </tr>

                  {%for project3 in post_list%}
                    {%if project3.Indent == 3 %}
                      {%if project3.Parent_id.Project_ID == project.Project_ID%}
                      <tr>
                        <td>{{project3.Project_name}} is a subproject of {{project.Project_name}}</td>
                        <td>{{project3.Color}}</td>
                        <td>{{project3.Indent}}</td>
                      </tr>
                    {%elif project3.Parent_id.Project_ID == project2.Project_ID%}
                      <tr>
                        <td>{{project3.Project_name}} is a subproject of {{project2.Project_name}}</td>
                        <td>{{project3.Color}}</td>
                        <td>{{project3.Indent}}</td>
                      </tr>

                    {%endif%}
                      {%for project4 in post_list%}
                        {%if project4.Indent == 4 %}
                        {% if project4.Parent_id.Project_ID == project.Project_ID %}
                          <tr>
                            <td>{{project4.Project_name}} is a subproject of {{project.Project_name}}</td>
                            <td>{{project4.Color}}</td>
                            <td>{{project4.Indent}}</td>
                          </tr>
                        {%elif project4.Parent_id.Project_ID == project2.Project_ID%}
                        <tr>
                          <td>{{project4.Project_name}} is a subproject of {{project2.Project_name}}</td>
                          <td>{{project4.Color}}</td>
                          <td>{{project4.Indent}}</td>
                        </tr>
                        {%elif project4.Parent_id.Project_ID == project3.Project_ID%}
                        <tr>
                          <td>{{project4.Project_name}} is a subproject of {{project3.Project_name}}</td>
                          <td>{{project4.Color}}</td>
                          <td>{{project4.Indent}}</td>
                        </tr>
                        {%endif%}
                        {%endif%}
                      {%endfor%}
                    {%endif%}
                  {%endfor%}
                {%endif%}
              {%endif%}
            {%endfor%}


          {% endif %}

      {% endfor %}
    </table>

  </div>
  <script src="{% static 'js/scripts.js' %}" ></script>
{% endblock %}
