{% extends "base.html" %}
{% block content %}
      <script>
      $(document).ready(function() {
            var tooltip = $('<div/>').qtip({
		id: 'calendar',
		prerender: true,
		content: {
			text: ' ',
			title: {
				button: true
			}
		},
		position: {
			my: 'bottom center',
			at: 'top center',
			target: 'mouse',
			viewport: $('#calendar'),
			adjust: {
				mouse: false,
				scroll: false
			}
		},
		show: false,
		hide: false,
		style: 'qtip-light'
	}).qtip('api');
              $('#calendar').fullCalendar({
                  // defaultDate: '2018-04-19',
                  height: 'parent',
                  header: {
                    left: 'month,basicWeek,basicDay custom1',
                    center: 'title',
                    right: 'custom2 prevYear,prev,next,nextYear'
                  },
                  selectable: true,
                  eventLimit: true,
              dayClick: function() { tooltip.hide() },
		eventResizeStart: function() { tooltip.hide() },
		eventDragStart: function() { tooltip.hide() },
		viewDisplay: function() { tooltip.hide() },
                  events: [
                      {% for i in events %}

                      {

                          title: "{{ i.task_Content}}",
                          start: '{{ i.task_due_date_utc|date:"Y-m-d" }}',
                          end: '{{ i.task_due_date_utc|date:"Y-m-d" }}',
                          {%  if i.task_responsible_uid is None %}
                          description: 'No one has been assigned this task',
                          {% else %}
                          description: 'person responsible for the task is: {{ i.task_responsible_uid.full_name }}',
                          {% endif %}
                            created: '{{ i.task_date_added }}',

                      },
                      {% endfor %}


                  ],

                eventClick: function(data, event, view) {
            var content =
                '<h5>' + 'Task: ' +data.title+'</h5>' +
                    '<h5>'+ 'Responsibility: ' + data.description+'</h5>' +
                    '<h5>' + 'Created on: ' + data.created+'</h5>'
                ;

            tooltip.set({
                'content.text': content
            })
            .reposition(event).show(event);
        },
                  select: function(start, end, allDay)
                 {
                     $('#calendar').fullCalendar('gotoDate', start);
                     $('#calendar').fullCalendar('changeView', 'basicDay');
                 },


              });

          });

      </script>

      <div class="container">
    <p>{{ event_arr }}</p>
      <div id=calendar-container>
        <div id='calendar'>

        </div>
      </div>

    </div>

{% endblock %}
