{% extends "base.html" %}
{% block content %}
      <script>
      $(document).ready(function() {

              $('#calendar').fullCalendar({
                  // defaultDate: '2018-04-19',
                  height: 'parent',
                  header: {
                    left: 'month,agendaWeek,agendaDay custom1',
                    center: 'title',
                    right: 'custom2 prevYear,prev,next,nextYear'
                  },
                  selectable: true,
                  // eventLimit: true, // allow "more" link when too many events
                  events: [
                      {% for i in events %}
                      {
                          title: "{{ i.task_Content}}",
                          start: '{{ i.task_due_date_utc|date:"Y-m-d" }}',
                          end: '{{ i.task_due_date_utc|date:"Y-m-d" }}',

                      },
                      {% endfor %}


                  ],
                  select: function(start, end, allDay)
                 {
                     $('#calendar').fullCalendar('gotoDate', start);
                     $('#calendar').fullCalendar('changeView', 'agendaDay');
                 },

              });

          });

      </script>

      <div class="container">

      <div id=calendar-container>
        <div id='calendar'>

        </div>
      </div>

    </div>

{% endblock %}
