{% extends "base.html" %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Projects</p>
                                            {{project_count}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Last synced at:
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-clipboard"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Tasks</p>
                                            {{projects.0.tasks_overall}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i>{{checked_count}} tasks are complete
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-pulse"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Overdue Tasks</p>
                                            {{projects.0.overdue}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-time"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p> Tasks due today</p>
                                            {{projects.0.tasks_today}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Overview of project {{projects.0.Project_name}}</h4>
                            </div>
                            <div class="content">
                              <table  id="customers">
                                <thead>

                                <tr>
                                  <th>Project name</th>
                                  <th>Overdue tasks</th>
                                  <th>Tasks for today</th>
                                  <th>Tasks for this week</th>
                                  <th>tasks for this month</th>
                                  <th>tasks overall</th>
                                </tr>
                                </thead>
                                <tbody>
                                  {% for project in projects %}

                                  <tr>
                                    <td>{{project.Project_name}}</td>
                                    <td>{{project.overdue}}</td>
                                    <td>{{project.tasks_today}}</td>
                                    <td>{{project.tasks_this_week}}</td>
                                    <td>{{project.tasks_this_month}}</td>
                                    <td>{{project.tasks_overall}}</td>
                                  </tr>
                                  {% if project.own_tasks is not 0 %}
                                  <tr>

                                        <th>Tasks of {{project.Project_name}}</th>
                                        <th>Overdue</th>
                                        <th>Due today</th>
                                        <th>Due this week</th>
                                        <th>Due this month</th>
                                        <th>Is complete</th>
                                      </tr>
                                      {% for task in tasks %}
                                      {% if task.task_project_id.Project_ID == project.Project_ID %}
                                      <tr>
                                        <td>{{task.task_Content}}</td>
                                        <td>{{task.overdue}}</td>
                                        <td>{{task.task_today}}</td>
                                        <td>{{task.task_this_week}}</td>
                                        <td>{{task.task_this_month}}</td>
                                        <td>{{task.checked}}</td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      {% if not forloop.last %}
                                      <tr>
                                        <th>Project name</th>
                                        <th>Overdue tasks</th>
                                        <th>Tasks for today</th>
                                        <th>Tasks for this week</th>
                                        <th>tasks for this month</th>
                                        <th>tasks overall</th>
                                      </tr>
                                      {% endif %}
                                  {% endif %}
                                  {% endfor %}
                                </tbody>
                              </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Select a graph</h4>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"></div>
                                <div class="footer">
                                    <hr>
																		<p>TODO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Select a graph</h4>
                            </div>
                            <div class="content">
                                <div class="footer">
																	<p>todo</p>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">select another graph</h4>
                            </div>
                            <div class="content">

                                <div class="footer">
																	<p>todo</p>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
