{% extends "base.html" %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Projects</p>
                                            {{project_count}}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Last synced at:
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-clipboard"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Tasks</p>
                                            {{ task_count }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i>{{checked_count}} tasks are complete
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if q is 0 %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-pulse"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Overdue Tasks</p>
                                            {{ overdue_count }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-time"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p> Tasks due today</p>
                                            {{projects.0.tasks_today}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p> Filter projects by :</p>
                                <form method="GET" action="">
                                    <input class="btn btn-danger" name="q" type="submit" value="Overdue">
                                    <input class="btn btn-info" name="q" type="submit" value="Today">
                                    <input class="btn btn-info" name="q" type="submit" value="This week">
                                    <input class="btn btn-info" name="q" type="submit" value="This month">
                                    <input class="btn btn-warning" name="q" type="submit" value="Uncompleted">
                                </form>
                                        {% if q is not 0 %}

                                    <button class="btn btn-success"><a href="{% url 'projektai:ProjectCollabDashboard' pk=clap.Project_ID id=collabID %}"</a>Remove filter</button>
                                    {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% if collaborators|length is not 0 %}
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">

                                    <div class="col-xs-12">
                                        <div class="numbers">
                                            <p>Filter tasks by a collaborator</p> <button class="btn" ><a href="{% url 'projektai:ProjectDashboard' pk=clap.Project_ID %}">Return to Project page</a></button>
                                            <div class="row">
                                            {% for collab in collaborators %}
                                                <button class="btn btn-info" >
                                                <a href="{% url 'projektai:ProjectCollabDashboard' pk=clap.Project_ID id=collab.ID %}">{{ collab.Name }}</a>

                                                </button>
                                            {% endfor %}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Overview of project {{projects.0.Project_name}}, tasks assigned to {{ collaborobject.full_name }}</h4>
                            </div>
                            <div class="content">
                              <script>
                              $(function() {
                                  var $research = $('.research');
                                  $research.find("tr").not('.accordion').hide();
                                  $research.find("tr").eq(0).show();

                                  $research.find(".accordion").click(function(){
                                      $research.find('.accordion').not(this).siblings().fadeOut(500);
                                      $(this).siblings().fadeToggle(500);
                                  }).eq(0).trigger('click');
                              });
                              </script>
                              <table id="customers">
                                <thead>

                                <tr>
                                  <th width= "50%">Project name</th>
                                  <th width= "10%">Overdue tasks</th>
                                  <th width= "10%">Tasks for today</th>
                                  <th width= "10%">Tasks for this week</th>
                                  <th width= "10%">tasks for this month</th>
                                  <th width= "10%">tasks overall</th>
                                </tr>
                                </thead>
                              </table>
                              <table id="customers">
                                  {% for project in projects %}
                                                                <table class='research'>
                                  <tr class='accordion success projectbase'>
                                    <th style="{{project.style}}">
                                      {% if project.project_type is 1 %}
                                      <span id="{{ project.color }}" class="ti-crown onelevel"></span> {{project.Project_name}}
                                      {% elif project.project_type is 2 %}
                                      &emsp;<span id="{{ project.color }}" class="ti-harddrives twolevel"></span> {{project.Project_name}}
                                      {% elif project.project_type is 3 %}
                                      &emsp;&emsp;<span id="{{ project.color }}" class="ti-harddrives" threelevel></span> {{project.Project_name}}
                                      {% elif project.project_type is 4 %}
                                      &emsp;&emsp;&emsp;<span id="{{ project.color }}" class="ti-harddrives fourlevel"></span> {{project.Project_name}}
                                      {% endif %}
                                      {% if q is 0 %}
                                      {% if project.Project_ID in existantprojects %}
                                      (Click to expand)
                                      {% endif %}
                                      {% endif %}

                                      {% if q == 'Overdue' %}
                                      {% if project.Project_ID in existantprojects %}
                                      (Click to expand)
                                      {% endif %}
                                      {% endif %}
                                      {% if q == 'Today' %}
                                      {% if project.Project_ID in existantprojects %}
                                      (Click to expand)
                                      {% endif %}
                                      {% endif %}
                                      {% if q == 'This week' %}
                                      {% if project.Project_ID in existantprojects %}
                                      (Click to expand)
                                      {% endif %}
                                      {% endif %}
                                      {% if q == 'This month' %}
                                      {% if project.Project_ID in existantprojects %}
                                      (Click to expand)
                                      {% endif %}
                                      {% endif %}
                                    {% if q == 'Uncompleted' %}
                                      {% if project.Project_ID in existantprojects %}
                                      (Click to expand)
                                      {% endif %}
                                      {% endif %}
                                     </th>
                                    <th class="alignment" width= "10%">{{project.overdue}}</th>
                                    <th class="alignment" width= "10%">{{project.tasks_today}}</th>
                                    <th class="alignment" width= "10%">{{project.tasks_this_week}}</th>
                                    <th class="alignment" width= "10%">{{project.tasks_this_month}}</th>
                                    <th class="alignment" width= "10%">{{project.tasks_overall}} </th>
                                  </tr>

                                  {% if q is 0 %}
                                  {% if project.Project_ID in existantprojects %}
                                  <tr class="taskinfo">

                                        <th class="alignment">Tasks of {{project.Project_name}} that are for {{ collaborobject.full_name }}</th>
                                        <th class="alignment">Overdue</th>
                                        <th class="alignment">Due today</th>
                                        <th class="alignment">Due this week</th>
                                        <th class="alignment">Due this month</th>
                                        <th class="alignment">Is complete</th>
                                      </tr>
                                      {% endif %}
                                      {% endif %}
                                      {% if q == 'Overdue' %}
                                      {% if project.Project_ID in existantprojects  %}
                                      <tr class="taskinfo">

                                            <th class="alignment">Tasks of {{project.Project_name}}</th>
                                            <th class="alignment">Overdue</th>
                                            <th class="alignment">Due today</th>
                                            <th class="alignment">Due this week</th>
                                            <th class="alignment">Due this month</th>
                                            <th class="alignment">Is complete</th>
                                          </tr>
                                      {% endif %}
                                      {% endif %}
                                      {% if q == 'Today' %}
                                      {% if project.Project_ID in existantprojects  %}
                                      <tr class="taskinfo">

                                            <th class="alignment">Tasks of {{project.Project_name}}</th>
                                            <th class="alignment">Overdue</th>
                                            <th class="alignment">Due today</th>
                                            <th class="alignment">Due this week</th>
                                            <th class="alignment">Due this month</th>
                                            <th class="alignment">Is complete</th>
                                          </tr>
                                      {% endif %}
                                      {% endif %}
                                      {% if q == 'This week' %}
                                      {% if project.Project_ID in existantprojects  %}
                                      <tr class="taskinfo">

                                            <th class="alignment">Tasks of {{project.Project_name}}</th>
                                            <th class="alignment">Overdue</th>
                                            <th class="alignment">Due today</th>
                                            <th class="alignment">Due this week</th>
                                            <th class="alignment">Due this month</th>
                                            <th class="alignment">Is complete</th>
                                          </tr>
                                      {% endif %}
                                      {% endif %}
                                      {% if q == 'This month' %}
                                      {% if project.Project_ID in existantprojects  %}
                                      <tr class="taskinfo">

                                            <th class="alignment">Tasks of {{project.Project_name}}</th>
                                            <th class="alignment">Overdue</th>
                                            <th class="alignment">Due today</th>
                                            <th class="alignment">Due this week</th>
                                            <th class="alignment">Due this month</th>
                                            <th class="alignment">Is complete</th>
                                          </tr>
                                      {% endif %}
                                      {% endif %}
                                                                {% if q == 'Uncompleted' %}
                                      {% if project.Project_ID in existantprojects  %}
                                      <tr class="taskinfo">

                                            <th class="alignment">Tasks of {{project.Project_name}}</th>
                                            <th class="alignment">Overdue</th>
                                            <th class="alignment">Due today</th>
                                            <th class="alignment">Due this week</th>
                                            <th class="alignment">Due this month</th>
                                            <th class="alignment">Is complete</th>
                                          </tr>
                                      {% endif %}
                                      {% endif %}
                                      {% for task in tasks %}
                                      {% if task.task_project_id == project.Project_ID %}

                                      <tr class="kapowbadassdude">
                                          {% if task.indent is 1 %}
                                        <td>  <span class="ti-shine"> {{task.task_Content}}</span></td>
                                          {% elif task.indent is 2 %}
                                          <td> &emsp;<span class="ti-shine"> {{task.task_Content}}</span></td>
                                          {% elif task.indent is 3 %}
                                        <td> &emsp;&emsp;<span class="ti-shine"> {{task.task_Content}}</span></td>
                                          {% else %}
                                      <td>  &emsp;&emsp;&emsp;<span class="ti-shine"> {{task.task_Content}}</span></td>
                                          {% endif %}
                                        <td class="alignment">
                                          {% if task.overdue is 1 %}
                                          <span class="glyphicon glyphicon-exclamation-sign"></span>
                                          {% endif %}
                                          </td>
                                        <td class="alignment">
                                          {% if task.task_today is 1 %}
                                          <span class="glyphicon glyphicon-flag" ></span>
                                          {% endif %}
                                        </td>
                                        <td class="alignment">
                                          {% if task.task_this_week is 1 %}
                                          <span class="glyphicon glyphicon-flag" ></span>
                                          {% endif %}
                                        </td>
                                        <td class="alignment">
                                          {% if task.task_this_month is 1 %}
                                          <span class="glyphicon glyphicon-flag" ></span>
                                          {% endif %}
                                        </td>
                                        <td class="alignment">
                                          {% if task.checked is 1 %}
                                          <span class="glyphicon glyphicon-ok" ></span>
                                          {% endif %}</td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                    </table>
                                  {% endfor %}

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"></h4>
                            </div>
                            <div class="content">
                               <div id="myDiv"></div>
    <script>

            var trace1 = {
          x: {{ labels|safe }},
          y: {{ addedTasks }},
          name: 'Added Tasks',
          type: 'bar'
        };

        var trace2 = {
          x: {{ labels|safe }},
          y: {{ deletedTasks }},
          name: 'Deleted Tasks',
          type: 'bar'
        };

         var trace3 = {
          x: {{ labels|safe }},
          y: {{ completedTasks }},
          name: 'Completed Tasks',
          type: 'bar'
        };

        var data = [trace1, trace2, trace3];

        var layout = {barmode: 'stack', title: 'Differences between Syncs'};

        Plotly.newPlot('myDiv', data, layout);

    </script>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"></h4>
                            </div>
                            <div class="content">
                                <div class="footer">
																	<p>todo</p>
                                    <hr>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title"></h4>
                            </div>
                            <div class="content">

                                <div class="footer">
																	<p>todo</p>
                                    <hr>
                                    <div class="stats">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
