{% extends "base.html" %} #}
{% block content %}

    <h1>Todoist extension clap site</h1>
    <h2></h2>
    <h4>This site is made as an unofficial extention for Todoist project management system. One can freely register and login, then add his Todoist API token to his profile. The system will then sync your data
    and display various interesting information about your tasks and projects just like it would do in todoist. In addition to that, you can filter down the tasks and projects and also see a built in calendar with information
    on your data.</h4>
    <h4>Additionally, one will see various graphs and charts that are all based on your own given Todoist data and that are calculated using data analysis.</h4>


{% endblock %}
